.details {
  margin-top: 24px;
  background-color: $color-dark-2;
  border-radius: 8px;
  padding: 24px 24px 0 24px;
  width: 100%;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $color-white;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;

    &__title {
      font-size: 14px;
      font-weight: 400;
      color: rgba($color-white, .5);
    }

    &__value {
      font-size: 14px;
      font-weight: 600;
      color: $color-white;
    }
  }
}