.performance {
  margin-top: 24px;
  background-color: $color-dark-2;
  border-radius: 8px;
  padding: 16px 24px;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &__title {
      font-size: 20px;
      font-weight: 600;
      color: $color-white;
    }

    &__tabs {
      display: flex;
      align-items: center;
      background-color: $color-dark-1;
      border-radius: 8px;

      &__tab {
        padding: 4px 12px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        color: rgba($color-white, .3);
        transition: all .2s;

        &:hover {
          background-color: $color-secondary;
          color: $color-white;
        }
      }
    }
  }

  &__chart {
    #js-performance__chart {
      width: 100%;
    }
  }
}